/* Start Section statistics */
#statistics {
  height: 350px;
  background: url(../Image/background/background2.webp) fixed;
  margin: 250px auto 250px auto;
  background-size: cover;
}
#statistics .overlay {
  height: 350px;
  padding: 50px;
}
#statistics .statistics_card {
  width: 25%;
  padding: 15;
  float: var(--floatLeft);
  text-align: center;
}
#statistics .statistics_card .statistics_icon {
  font-size: 2.5rem;
  color: var(--mainColor);
  padding: 20px;
}
#statistics .statistics_card .statistics_header {
  color: var(--secondColor);
  font-size: 2.5rem;
  padding: 30px 0 30px 0;
}
#statistics .statistics_card .statistics_span {
  line-height: 1.5rem;
  color: var(--secondColor);
  font-size: 1.3rem;
  /* padding: 20px; */
}
/* End Statistics Section */
